main {
    position: relative;
    height: auto;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.about-page {
    height: 200px;
    width: 100%;
    background-image: url("assets/3_about-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: height 0.4s ease-in-out;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.fb-page, .rectangle, .about-text {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.6s ease-in-out, 
                visibility 0.6s ease-in-out, 
                height 0.6s ease-in-out;
}

.fb-page {
    pointer-events: none;
}
.about-page.expanded #fb-container-desktop .fb-page,
.about-page.expanded #fb-container-tablet .fb-page,
.about-page.expanded #fb-container-mobile .fb-page {
    pointer-events: auto;
}

.about-page.expanded .fb-page,
.about-page.expanded .rectangle,
.about-page.expanded .about-text {
    opacity: 1;
    visibility: visible;
    height: auto; 
    
}


.about-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    width: 290px;
    height: 70px;
    border-radius: 100px;
    background-color: #AF52DE;
    color: white;
    font-size: 23px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 20px rgba(175, 82, 222, 0.4);
    z-index: 20 !important; 

    transition: background-color 0.3s ease,
                transform 0.3s ease,
                box-shadow 0.3s ease,
                top 0.4s ease-in-out;
}

.about-btn:hover {
    background-color: #9162d8;
    transform: translate(-50%, 0) scale(1.05);
    box-shadow: 0px 12px 24px rgba(175, 82, 222, 0.5);
}

.about-btn:active {
    transform: translate(-50%, 0) scale(0.98);
    box-shadow: 0px 6px 16px rgba(175, 82, 222, 0.3);
}

.about-page.expanded {
    height: 100vh;
}

.about-page.collapsed {
    height: 200px;
}

.about-page.collapsed .about-btn {
    top: 30%;
}

.about-page.expanded .about-btn {
    top: 7%;
}

.rectangle {
    position: absolute;
    width: 100%;
    height: 45vh;
    top: 34.5%;
    left: 0;
    z-index: -5;
}

.about-text {
    position: absolute;
    width: 60%;
    left: 47%;
    top: 40%;
    max-width: 600px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20.5px;
    color: black;
    text-align: left;
    line-height: 1.6;
    font-weight: 500;
    z-index: 1;
}


@media (min-width: 1440px) {
    #fb-container-desktop {
        display: flex !important;
        z-index: 1;
    }
    #fb-container-tablet, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    .fb-page {
        top: 35% !important;  
        left: 8% !important;
        transform: none; 
        position: absolute !important;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
        z-index: 1;
    
    }

    .about-text {
        font-size: 19.5px;
        width: 50%;
        left: 70.3%;
        top: 60%;
        max-width: 600px;
        transform: translate(-50%, -50%);
    }


    .about-btn {
        width: 300px;
        height: 75px;
        font-size: 25px;
        z-index: 100;
    }


    .rectangle {
        height: 45vh; 
        top: 35% !important;
    }
}

@media (min-width: 1280px) {
    #fb-container-desktop {
        display: flex !important;
        z-index: 1;
    }
    #fb-container-tablet, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    .fb-page {
        top: 35% !important;  
        left: 8%;
        transform: none; 
        position: absolute !important;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
        z-index: 1;
    }

    .about-text {
        font-size: 19.5px;
        width: 50%;
        left: 70.3%;
        top: 60%;
        max-width: 600px;
        transform: translate(-50%, -50%);
    }


    .about-btn {
        width: 300px;
        height: 75px;
        font-size: 25px;
        z-index: 100;
    }


    .rectangle {
        height: 45vh; 
        top: 38%;
    }
}



/* nest hub max */
@media (min-width: 1280px) and (min-height: 800px) {
    #fb-container-desktop {
        display: flex !important;
        z-index: 1;

    }
    #fb-container-tablet, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    .fb-page {
        top: 30% !important;  
        left: 4%;
        transform: none; 
        position: absolute !important;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
    }


    .about-text {
        font-size: 19.5px;
        width: 50%;
        left: 70.3%;
        top: 57%;
        max-width: 600px;
        transform: translate(-50%, -50%);
    }


    .about-btn {
        width: 300px;
        height: 75px;
        font-size: 25px;
        z-index: 100;
    }


    .rectangle {
        min-height: 45px; 
        top: 38%;
    }
}

/* For Large Tablets  */
@media (max-width: 1279px) and (min-width: 1150px) {
    #fb-container-desktop {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-tablet, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    .fb-page {
        top: 30% !important;  
        left: 4%;
        transform: none; 
        position: absolute !important;
        transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.4s ease-in-out;
        z-index: 1;
    }

    .about-text {
        font-size: 19.5px;
        width: 100%;
        left: 50%;
        max-width: 550px;
        top: 43%;
        transition: opacity 0.4s ease-in-out;
    }

    .about-btn {
        width: 300px;
        height: 75px;
        font-size: 25px;
        z-index: 100;
    }

    .rectangle {
        top: 38%;
        height: 45vh;
    }
}


/* For Medium Tablets */
@media (max-width: 1149px) and (min-width: 768px) {
    #fb-container-tablet {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    #fb-container-tablet .fb-page {
        position: absolute;
        top: 40% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }
      

    .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 17.5px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 88%;
        text-align: justify;
    }

    .about-btn {
        width: 250px;
        height: 60px;
        font-size: 18px;
        z-index: 100;
    }


    .rectangle {
        height: 31vh !important;
        top: 65%;
    }
}


/* For Small Tablets */
@media (max-width: 767px) and (min-width: 600px) {
    #fb-container-tablet {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }


    #fb-container-tablet .fb-page {
        position: absolute;
        top: 40% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 15.5px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 88%;
        text-align: justify;
    }


    .about-btn {
        width: 230px;
        height: 60px;
        font-size: 18px;
        z-index: 100;
    }


    .rectangle {
        height: 31vh !important;
        top: 65%;
    }
}


/* For Mobile Phones and  */
@media (max-width: 599px) and (min-width: 450px){
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 40% !important;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 15.5px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 88%;
        text-align: justify;
    }


    .about-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
        z-index: 100;
    }


    .rectangle {
        height: 35vh !important;
        top: 60%;
    }
}

@media (max-width: 449px) {
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 40% !important;
        left: 64%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 13px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 78%;
        text-align: justify;
    }


    .about-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
        z-index: 100;
    }


    .rectangle {
        height: 30vh !important;
        top: 55%;
    }
}

/* nest hub  */
@media (width: 1024px) and (height: 600px) {
    #fb-container-tablet {
        display: flex !important;
        z-index: 1;

    }
    #fb-container-desktop, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    #fb-container-tablet .fb-page {
        position: absolute;
        top: 58% !important;
        left: 23%;
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }
      


    .about-text {
        font-size: 15px;
        width: 43%;
        left: 70.3%;
        top: 57%;
        max-width: 600px;
        transform: translate(-50%, -50%);
    }


    .about-btn {
        width: 250px;
        height: 60px;
        font-size: 20px;
        z-index: 100;
    }


    .rectangle {
        height: 45vh !important; 
        top: 36%;
    }
}

/* Galaxy Z  */
@media (width: 344px) and (height: 882px){
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 14px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 87.5%;
        text-align: justify;
    }


    .about-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
        z-index: 100;
    }


    .rectangle {
        height: 36vh !important;
        top: 57%;
    }
}

/* Asus   */
@media (width: 853px) and (height: 1280px) {
    #fb-container-desktop {
        display: flex !important;
        z-index: 1;

    }
    #fb-container-tablet, #fb-container-mobile {
        display: none !important;
        z-index: 1;
    }

    #fb-container-desktop .fb-page {
        position: absolute;
        top: 18%;
        left: 26%;
        width: 100%;
        max-width: 400px;
        height: 550px;
        z-index: 1;
      }
      
    .about-text {
        font-size: 25px !important;
        width: 80%;
        left: 50%;
        top: 77%;
        max-width: 600px;
        transform: translate(-50%, -50%);
    }


    .about-btn {
        width: 280px;
        height: 80px;
        font-size: 30px;
        z-index: 100;
    }


    .rectangle {
        height: 40vh !important; 
        top: 56%;
    }
}

/* Surface Duo  */
@media (width: 540px) and (height: 720px){
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 44%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 14px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 87.5%;
        text-align: justify;
    }


    .about-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
        z-index: 100;
    }


    .rectangle {
        height: 36vh !important;
        top: 60%;
    }
}

/* Surface Pro 7  */
@media (width: 912px) and (height: 1368px){
    #fb-container-desktop {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-mobile, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-desktop .fb-page {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 550px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 25px !important;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 87.5%;
        text-align: justify;
    }


    .about-btn {
        width: 300px;
        height: 80px;
        font-size: 26px;
        z-index: 100;
    }


    .rectangle {
        height: 36vh !important;
        top: 60%;
    }
}

/* Ipad Pro  */
@media (width: 1024px) and (height: 1366px){
    #fb-container-desktop {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-mobile, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-desktop .fb-page {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 550px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 25px !important;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 87.5%;
        text-align: justify;
    }


    .about-btn {
        width: 300px;
        height: 80px;
        font-size: 26px;
        z-index: 100;
    }


    .rectangle {
        height: 36vh !important;
        top: 60%;
    }
}

/* Ipad Air  */
@media (width: 820px) and (height: 1180px){
    #fb-container-desktop {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-mobile, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-desktop .fb-page {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 550px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 23px !important;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 88.5%;
        text-align: justify;
    }


    .about-btn {
        width: 300px;
        height: 80px;
        font-size: 26px;
        z-index: 100;
    }


    .rectangle {
        height: 36vh !important;
        top: 60%;
    }
}

/* Samsung Galaxy S8+  */
@media (width: 360px) and (height: 740px){
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 43%;
        left: 62.5%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 13px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 87.5%;
        text-align: justify;
    }


    .about-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
        z-index: 100;
    }


    .rectangle {
        height: 36vh !important;
        top: 57%;
    }
}

/* IP12 PRO  */
@media (width: 390px) and (height: 844px){
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 40%;
        left: 63.5%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 13px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 88%;
        text-align: justify;
    }


    .about-btn {
        width: 220px;
        height: 55px;
        font-size: 16px;
        z-index: 100;
    }


    .rectangle {
        height: 35vh !important;
        top: 60%;
    }
}

/* IPSE  */
@media (width: 375px) and (height: 667px){
    #fb-container-mobile {
        display: flex !important;  
        z-index: 1;
    }
    #fb-container-desktop, #fb-container-tablet {
        display: none !important;
        z-index: 1;
    }


    #fb-container-mobile .fb-page {
        position: absolute;
        top: 43% !important;
        left: 63.5%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 400px;
        height: 350px;
        z-index: 1;
      }

      .about-text {
        transform: translate(-50%, -90%);
        position: absolute;
        font-size: 12px;
        width: 79%;
        left: 50%;
        max-width: 770px ; 
        top: 88.5%;
        text-align: justify;
    }


    .about-btn {
        width: 180px;
        height: 45px;
        font-size: 15px;
        z-index: 100;
    }


    .rectangle {
        height: 35vh !important;
        top: 60%;
    }
}
