.developers-body {
  font-family: sans-serif;
  background-color: #9b96c9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.developers-container {
  text-align: center;
  padding: 100px 100px;
}

h1 {
  color: #4b0082;
}

.developer {
  display: inline-block;
  margin: 50px;
  text-align: center;
  position: relative;
}

.developer-dog-ears {
  position: absolute;
  top: -40px;
  height: auto;
  z-index: 1;
}

.developer-dog-ears img{
  width: 333px;
  object-fit: cover;
  position: relative;
  top: 0;
}

.developer-cat-ears {
  position: absolute;
  top: -50px;
  height: auto;
  z-index: 1;
}

.developer-cat-ears img{
  width: 333px;
  object-fit: cover;
  position: relative;
  top: 0;
}

.developer-image {
  width: 333px;
  height: 324px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1px;
  display: inline-block;
  filter: drop-shadow(0px 15px 10px #4a3e4e);
  position: relative;
}

.developer-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 0;
}

.developer-image::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px dashed #4b0082;
  border-radius: 50%;
}

h1 {
  color: #fbf3b9;
}

h2 {
  color: #ffffff;
  margin-bottom: 5px;
}

p {
  color: #ffffff;
}

.h1-developers {
  font-family: "Bagel Fat One";
  font-size: clamp(1rem, calc(7vw + 1rem), 4.5rem);
  letter-spacing: 0.25rem;
  filter: drop-shadow(0px 5px 50px #57218d);
}

.h2-developers {
  font-family: "Dongle";
  font-size: clamp(1rem, calc(7vw + 1rem), 4rem);
  margin-bottom: 0px;
}

.p-developers {
  font-family: "Baloo 2";
  font-size: clamp(1rem, calc(7vw + 1rem), 1.5rem);
  margin-bottom: 0px;
}

@media (max-width: 1280px) {
  .developers-container {
    padding: 40px 50px;
  }
  
  .developer {
    margin: 15px;
  }
  
  .developer-image {
    width: 340px;
    height: 340px;
    margin-bottom: -30px;
  }

  .developer-dog-ears img,
  .developer-cat-ears img{
    top: 15px;
    width: 100%;
  }

  .h2-developers {
    margin-bottom: -20px;
    margin-top: 30px
  }
  
  .p-developers {
    margin-bottom: 50px;
  }

  .h1-developers{
    margin-bottom: 80px
  }

  .developers-body{
    height: 180vh
  }
}

@media (max-width: 1024px) {
  .developers-container {
    padding: 80px 50px;
  }
  
  .developer {
    margin: 15px;
  }
  
  .developer-image {
    width: 320px;
    height: 320px;
    margin-bottom: -30px;
  }

  .developer-dog-ears img,
  .developer-cat-ears img{
    top: 15px;
    width: 100%;
  }

  .h2-developers {
    margin-bottom: -20px;
    margin-top: 20px
  }
  
  .p-developers {
    margin-bottom: 50px;
  }

  .developers-body{
    height: 220vh
  }
}

@media (max-width: 1024px) and (min-height: 601px) and (max-height: 1367px){
  .h2-developers{
    margin-top: 15px
  }

  .h1-developers{
    margin-bottom: 50px 
  }

  .developers-body{
    height: 10vh
  }
}

@media (max-width: 912px) {
  .developer-image {
    width: 300px;
    height: 300px;
    margin-bottom: -40px;
  }

  .developer-dog-ears img,
  .developer-cat-ears img{
    top: 15px;
    width: 100%;
  }

  .h2-developers {
    margin-bottom: -20px;
    margin-top: 30px
  }
  
  .p-developers {
    margin-bottom: 50px;
  }

  .h1-developers{
    margin-bottom: 50px 
  }

  .developers-body{
    height: 0vh
  }
}

@media (max-width: 820px){
  .developers-body{
    height: 105vh
  }

  .h2-developers{
    margin-top: 20px
  }
}

@media (max-width: 769px) {
  .developers-container {
    padding: 60px 30px;
  }
  
  .developer {
    margin: 10px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .developer-image {
    width: 250px;
    height: 250px;
  }

  .developer-dog-ears img,
  .developer-cat-ears img{
    top: 20px;
    width: 90%;
  }
  
  .h1-developers {
    font-size: clamp(1.5rem, 8vw, 3rem);
  }
  
  .h2-developers {
    font-size: clamp(1.8rem, 6vw, 3rem);
    margin-bottom: -10px;
    margin-top: 40px
  }
  
  .p-developers {
    font-size: clamp(1rem, 3vw, 1.3rem);
    margin-bottom: 50px;
  }

  .developers-body{
    height: 180vh
  }
}

@media (max-width: 540px) {
  .developer-image {
    margin-bottom: 0px;
  }

  .developers-body{
    height: 255vh
  }
}

@media (max-width: 480px) {
  .developers-container {
    padding: 40px 15px;
  }
  
  .developer-image {
    width: 200px;
    height: 200px;
    margin-bottom: -10px;
  }
  
  .developer-dog-ears img,
  .developer-cat-ears img{
    top: 20px;
    width: 70%;
  }
}

@media (max-width: 431px){
  .developers-body{
    height: 170vh
  }
}

@media (max-width: 391px){
  .developers-body{
    height: 180vh
  }
}

@media (max-width: 376px){
  .developers-body{
    height: 225vh
  }
}

@media (max-width: 344px){
  .developers-body{
    height: 170vh
  }
}